services:
  api:
    build: .
    env_file:
      - .env
    container_name: api-ts
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      CHOKIDAR_USEPOLLING: "true" 
    depends_on:
      - mysql
    command: sh -c "npx prisma@6.19.0 db push && npx prisma@6.19.0 db seed && npx prisma@6.19.0 generate && npm install && npm run dev"

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}  
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
